.new-btn{
    width: 30px;
    height: 30px;
    border-radius: 5px;

}

.main-body{
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    /* position: absolute;
    top: 109px; */
    justify-content: center;
    background: #a1b09672;
    height: calc(100vh - 70px);
}

.category-lines{
    width: calc(100vw - 80px);
    height: calc(100vh - 90px);
    /* height: 88vh; */
    background: #FAFAFA;
    border-radius: 10px;
}

.date-input-form{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.date-input{
    width: auto;
    height: auto;
    padding: 8px;
}

.x-btn, .edit-btn, .save-btn{
    width: 20px;
    height: 20px;
    font-size: 8px
}

.modify-icons{
    display: flex;
    gap: 4px;
}

.summary{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    height: 150px;
}

.summary-label{
    text-align: center;
}

.income-label, .expense-label, .savings-label{
    padding-right: 50px;
}

.income-value, .expense-value, .savings-value{
    padding-left: 50px;
}

.savings{
    border-top: solid black 1px;
}

.popout{
    transition: transform 0.5s;
    transform-origin: right;
    border-left: rgb(193, 193, 193) 1px solid;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.vis{
    transform: scaleX(0);
}

.categories{
    overflow-y: auto;
    /* height: 300px; */
    height: calc(100% - 284.963px);
}

.categories::-webkit-scrollbar {
    width: 10px;
  }
  
  .categories::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  .categories::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .categories::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

