.date-input-form{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.date-input{
    width: auto;
    height: auto;
    padding: 8px;
}

.x-btn, .edit-btn, .save-btn{
    width: 20px;
    height: 20px;
    font-size: 8px
}

.modify-icons{
    display: flex;
    gap: 4px;
}

/* .ln-item-input{
    height: 56px;
    width: 180px;
} */

.summary{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.summary-label{
    text-align: center;
}

.income-label, .expense-label, .savings-label{
    padding-right: 50px;
}

.income-value, .expense-value, .savings-value{
    padding-left: 50px;
}

.savings{
    border-top: solid black 1px;
}

.big{
    display: flex;
}

.tester{
    border-left: solid black 1px;
    width: 20vw;
}

.test{
    width: 80vw;
}

.cat{
    background: red;
    margin: 0px;
    padding: 15px;
    text-align: center;
}