.investment-content {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.investment-category-name {
  margin-top: 25px;
}

.shares {
  width: 90px;
}

.investment-content .input-parent .input-label {
  border-radius: 4px;
}

.investment-content .input-parent .input {
  width: 60px;
  height: 35px;
}

.ticker {
  width: 60px;
}

.investment-table {
  margin-left: 30px;
}
