.modal {
  position: absolute;
  right: auto;
  bottom: auto;
  box-shadow: 0 0 0 1px rgba(33, 50, 108, 0.1);
  border-radius: 4px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.left {
  height: 90%;
  width: 30%;
  min-width: 200px;
  border-right: rgb(193, 193, 193) 1px solid;
}

.label-header {
  margin: 0px;
  padding: 12px 0px;
  background: #a1b09672;
  font-size: 20px;
  text-align: center;
}

.list-item {
  padding: 8px 0px;
  font-size: 18px;
  list-style: none;
  text-align: center;
  border-bottom: rgb(193, 193, 193) 1px solid;
  cursor: pointer;
}

.list-item:hover {
  background: rgb(235, 235, 235);
}

.edit {
  background: rgb(235, 235, 235);
}

.item-list {
  list-style-position: outside;
  padding-left: 0em;
  margin: 0px;
  height: 90%;
  overflow-y: auto;
}

.modal-content {
  display: flex;
  height: 100%;
}

.modal-close.close-btn {
  position: absolute;
}

.right {
  display: flex;
  width: 70%;
  justify-content: center;
}

.item-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.buttons-group {
  display: flex;
  gap: 5%;
}

.item-button {
  width: 47.5%;
}

.new-item {
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}

.new-item-container {
  height: 10%;
  width: 30%;
  position: absolute;
  bottom: 0px;
  min-width: 200px;
  border-right: rgb(193, 193, 193) 1px solid;
}

.modal-content .back-btn {
  display: none;
}

@media (max-width: 395px) {
  .overlay {
    display: none;
  }

  .modal {
    position: static;
    right: auto;
    bottom: auto;
    box-shadow: none;
    border-radius: 0px;
    background: white;
    top: auto;
    left: auto;
    transform: none;
    z-index: 0;
    width: calc(100vw - 30px);
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(203, 203, 203, 0.2);
  }

  .item-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
  }

  .left {
    width: 100%;
    height: auto;
    border-right: none;
    margin-top: 10px;
    border-bottom: rgb(193, 193, 193) 1px solid;
    /* padding-bottom: 20px; */
  }

  .modal-content {
    flex-direction: column;
  }

  .right {
    width: 100%;
  }

  .label-header {
    display: none;
  }

  .list-item {
    height: 23px;
    border: 1px solid #366a21;
    padding: 4px 6px;
    background: none;
    color: black;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 100px;
    /* font-size: 14px; */
    font-size: 16px;
  }

  .list-item:hover {
    background: none;
  }

  .edit {
    background: #366a21;
    color: white;
  }

  .edit:hover {
    background: #366a21;
  }

  .modal-close.close-btn {
    display: none;
  }

  .modal-content .back-btn {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .new-item-container {
    border-right: none;
    height: 5%;
    position: static;
    margin-top: 20px;
  }

  .item-form {
    padding-top: 50px;
  }

  .item-form h3 {
    display: none;
  }

  .new-item {
    position: static;
  }
}
