@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

* {
  font-family: "Josefin Sans";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #1a1c18;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: none;
  cursor: pointer;
}

.email-verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.email-verify-success {
  border-radius: 2%;
  width: 25%;
  margin-left: 1.5%;
  padding: 1%;
}

.success-icon {
  color: #366a21;
  font-size: 25px;
  margin-top: 25px;
}

.success {
  font-size: 25px;
  font-weight: bold;
}

.email-verify-success div {
  display: flex;
  column-gap: 4%;
}

.success-signin {
  font-size: 18px;
  margin-left: 11%;
  margin-top: -6px;
}

.title {
  font-weight: 600;
  letter-spacing: 1.4px;
  font-size: 80px;
  color: #366a21;
  margin-left: 120px;
  margin-top: 175px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.log-in-form {
  margin-left: 120px;
}

.line {
  border-left: 1px black solid;
  height: 100vh;
  margin-left: 93px;
}

.home-page-layout {
  display: flex;
}

.btn {
  display: flex;
  width: 83px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #366a21;
  color: white;
}

.triangle {
  width: 1000px;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    #fff 0%,
    #fff 50%,
    #b6f398 50%,
    #b6f398 100%
  );
}

.form-bottom {
  margin-top: -10px;
}

.btn:disabled {
  background: #1d1b201f;
  color: #1a1c18;
  cursor: not-allowed;
}

.link {
  cursor: pointer;
  color: #366a21;
  font-weight: 600;
}

.sign-up-page-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.total-form {
  border: black solid 1px;
  border-radius: 4px;
  padding: 25px 50px;
  margin-top: 20px;
}

.sign-up-title {
  text-align: center;
  font-size: 30px;
}

.error {
  text-align: center;
  margin-left: 120px;
  background: #ba1a1a;
  color: white;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
}

.signup-error {
  margin-left: 0px;
}

.reset-password-instructions {
  width: 254px;
  font-size: 14px;
  margin-bottom: 40px;
  text-align: center;
}

.message-wrap {
  width: 254px;
  margin-bottom: 20px;
  background: #6b999a;
  color: white;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.email-verify-error {
  font-size: 18px;
}

@media (max-width: 395px) {
  .triangle {
    display: none;
  }

  .line {
    display: none;
  }

  .log-in-form,
  .title,
  .error {
    margin-left: 0px;
  }

  .home-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-page-layout {
    display: block;
  }

  .total-form {
    border: none;
  }

  .select,
  .input {
    background: white;
  }

  select {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;

    padding-left: 10px;
  }

  input[type="date"] {
    width: 235px;
  }

  input[type="date"]:empty::after {
    color: #aaa;
    content: attr(placeholder);
    text-align: left;
  }

  input::-webkit-date-and-time-value {
    text-align: left;
    padding-left: 12px;
  }

  .signup-mobile {
    width: 100px;
  }
}
