.modal {
  position: absolute;
  right: auto;
  bottom: auto;
  box-shadow: 0 0 0 1px rgba(33, 50, 108, 0.1);
  border-radius: 4px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  z-index: 2;
}

/* .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(250, 250, 250, 0.8);
} */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.left {
  /* height: 100%; */
  height: 90%;
  width: 30%;
  min-width: 200px;
  border-right: rgb(193, 193, 193) 1px solid;
  overflow-y: auto;
}

.category-header {
  margin: 0px;
  padding: 12px 0px;
  background: #a1b09672;
  font-size: 20px;
  text-align: center;
}

.category-list-item {
  padding: 8px 0px;
  font-size: 18px;
  list-style: none;
  text-align: center;
  border-bottom: rgb(193, 193, 193) 1px solid;
  cursor: pointer;
}

.category-list-item:hover {
  background: rgb(235, 235, 235);
}

.edit {
  background: rgb(235, 235, 235);
}

.category-list {
  list-style-position: outside;
  padding-left: 0em;
  margin: 0px;
}

.modal-content {
  display: flex;
  height: 100%;
}

.modal-close.close-btn {
  position: absolute;
}

.right {
  display: flex;
  width: 70%;
  justify-content: center;
}

.category-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
}

.category-buttons-group {
  display: flex;
  gap: 5%;
}

.category-button {
  width: 47.5%;
}

.new-category {
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}

.new-category-container {
  height: 10%;
  width: 30%;
  position: absolute;
  bottom: 0px;
  min-width: 200px;
  border-right: rgb(193, 193, 193) 1px solid;
}
