.profile-section {
  margin-left: 54px;
}

.profile-section .profile-form {
  margin-top: 50px;
}

.profile-section .profile-form .input-parent {
  margin-top: 30px;
}

.profile-update-btn {
  width: 125px;
  margin-top: 20px;
  margin-left: 30px;
}

.profile-update-title {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 400;
}

.profile-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  width: auto;
  margin-left: 30px;
}

@media (max-width: 395px) {
  .profile-section .profile-form {
    flex-direction: column;
    margin-top: 10px;
    gap: 0px;
  }

  .profile-section {
    margin-left: 0px;
  }

  .profile-update-btn {
    margin-left: calc((100vw - 284px) / 2);
    width: 254px;
    margin-bottom: 20px;
  }
}
