.profile-section {
  margin-left: 54px;
}

.profile-update-btn {
  width: 125px;
  grid-area: footer;
}

.profile-update-title {
  font-size: 35px;
  font-weight: 400;
  grid-area: header;
  justify-self: center;
}

.profile-form {
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "header header"
    "main1 main2"
    "main3 main4"
    "main5 ."
    "footer .";
  gap: 20px 10px;
  justify-content: center;
}

@media (max-width: 395px) {
  .profile-section .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .profile-section {
    margin-left: 0px;
  }

  .profile-update-btn {
    width: 254px;
  }
}
