.side-panel {
  padding: 28px 15px 40px 0px;
}

.side-panel-label {
  text-align: center;
  margin-bottom: 30px;
}

.side-panel-table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

.label {
  padding: 4px 0px 4px 0px;
  width: 204px;
}

.value {
  padding: 4px 0px 4px 0px;
  text-align: end;
  width: 50px;
}

.savings {
  border-top: solid black 1px;
}

.savings-label,
.savings-value {
  padding-top: 10px;
}
