.summary {
  padding: 28px 15px 40px 0px;
}

.summary-label {
  text-align: center;
  margin-bottom: 30px;
}

.summary-table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

.income-label,
.expense-label,
.savings-label {
  padding: 2px 0px 2px 0px;
  width: 204px;
}

.income-value,
.expense-value,
.savings-value {
  padding: 2px 0px 2px 0px;
  text-align: end;
  width: 50px;
}

.savings {
  border-top: solid black 1px;
}

.savings-label,
.savings-value {
  padding-top: 10px;
}
