.date-input-form{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.date-input{
    width: auto;
    height: auto;
    padding: 8px;
}

.test{
    display: flex;
    justify-content: center;
}

.x-btn, .edit-btn, .save-btn{
    width: 20px;
    height: 20px;
    font-size: 8px
}

.modify-icons{
    display: flex;
    gap: 4px;
}

.ln-item-input{
    height: 56px;
    width: 180px;
}

.select{
    border: 1px solid #73796E;
    border-radius: 4px;
    color: #1A1C18;
    height: 56px;
    width: 180px;
    padding: 0px 16px;
    font-size: 16px;
    line-height: 24px;
    caret-color: #366A21;
}
 
  ::placeholder{
    color: #43483F;
  }
 
  .select:focus{
    outline: none;
    box-shadow: 0 0 0 1px #366A21;
    color: #1A1C18;
  }
 
  .select:hover{
    cursor:pointer;
  }

  .category-label{
    top: 240px;
    left: 231px;
  }

  .hidden{
    display: none;
  }
 

