.login{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-window{
    background: rgb(38, 37, 41);
    color: white;
    border-radius: 2%;
    padding: 5%
}

.google-icon{
    color:rgb(66, 133, 244)
}

.google-sign-in p{
    color: black;
    padding: 2%;

}

.google-sign-in{
    background: white;
    border-radius: 2%;
}